<h1 style="color: green;">User managament - ZooKeeper</h1>
<hr>

<svg width="400" height="400">
    <circle *ngFor="let znode of zNodes; let i = index"
      [attr.cx]="50 + i * 100" 
      cy="100" 
      r="45" 
      fill="lightblue"
      stroke="black"
      stroke-width="2"
    />
    <text *ngFor="let znode of zNodes; let i = index"
      [attr.x]="50 + i * 100" 
      y="100" 
      text-anchor="middle" 
      fill="black"
      dy=".3em"
    >
      {{ znode }}
    </text>
  </svg>

<p *ngIf="response">
    {{response.msg}}
</p>
