@import "primeicons/primeicons.css";

.zookeeper-header {
  background-color: #689253; /* Green color reminiscent of Zookeeper theme */
  color: white;
}

.user-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

::ng-deep .p-button-link {
  color: white;
  font-size: 10pt;
}

::ng-deep .p-button-link {
  color: white;
  font-size: 10pt;
}

::ng-deep .logoutButton {
  background-color: transparent !important;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
  
  
  
  