<div class="flex justify-content-center flex-wrap zookeeper-header">
    <div class="flex align-items-center justify-content-center h-4rem font-bold">
        <img src="assets/zookeeper_logo.png" height="100px" alt="Logo">
    </div>
    <div class="flex align-items-center justify-content-end h-4rem">
        <span class="title">Zookeeper users management</span>
    </div>
</div>

<div class="grid grid-nogutter">
    <div class="col-fixed bg-dark" style="height: 100vh; width: 20%;">
        <app-node-tree [zNodes]="zNodes" ></app-node-tree>
    </div>
    <div class="col">
        <div class="text-center">
            <app-nodes-visual [zNodes]="allNodesChildren"></app-nodes-visual>
        </div>
        <div>
            <app-chat></app-chat>
        </div>
    </div>
</div>