.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.my-message {
  align-self: flex-start;
  background-color: #d1e7dd;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
}

.other-message {
  align-self: flex-end;
  background-color: #f8d7da;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
}

input {
  width: calc(100% - 60px);
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

.user-list {
  width: 200px;
  border-right: 1px solid #ddd;
  color: white;
  padding: 10px;
}

.user-list div {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-list div:hover {
  background-color: #e0e0e0;
}

.selected-user {
  background-color: #cce5ff;
  font-weight: bold;
}

.hovered-user {
  background-color: #d3d3d3;
  color: #000;
}

.chat-content {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
