<div class="grid flex chat-container w-max">
  <div class="col user-list bg-dark">
    <div *ngFor="let user of userNodes" 
         (click)="selectUser(user.name)" 
         (mouseover)="hoverUser(user.name)"
         [ngClass]="{'selected-user': selectedUser === user.name, 'hovered-user': hoveredUser === user.name}">
      {{ user.name }}
    </div>
  </div>
  <div class="col chat-content">
    <div class="messages flex w-30rem">
      <div *ngFor="let message of messagesMap[selectedUser === '' ? username : selectedUser]" 
           [ngClass]="{'my-message': message.from === username, 'other-message': message.from !== username}">
        <strong>{{ message.from }}:</strong> {{ message.text }}
      </div>
    </div>
    <input [(ngModel)]="messageContent" placeholder="Type a message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
