.sidebar {
    border-right: 4px solid #689253; /* Blue border */
    padding-right: 10px;
    color: #CCCCCC;
}

hr {
    border-color: #689253;
    border: 2px solid #689253;
}

.tree-list {
    
    list-style: none; 
    padding-left: 0; 
    
}